[submodule "snippets"]
	path = snippets
	url = git@github.com:vinibaggio/snipmate-snippets.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = http://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = git://github.com/tpope/vim-pastie
[submodule "bundle/rvm.vim"]
	path = bundle/rvm.vim
	url = http://github.com/csexton/rvm.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-mac-classic-theme"]
	path = bundle/vim-mac-classic-theme
	url = http://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = http://github.com/tpope/vim-rake.git
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/JSON.vim"]
	path = bundle/JSON.vim
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/preview"]
	path = bundle/preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/markabe/bufexplorer.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/processing-syntax"]
	path = bundle/processing-syntax
	url = https://github.com/vim-scripts/Processing-Syntax.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/better-css"]
	path = bundle/better-css
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/html5-syntax"]
	path = bundle/html5-syntax
	url = https://github.com/othree/html5-syntax.vim.git
